/* scroll bar */

/* For Chrome, Edge, and Safari */
::-webkit-scrollbar {
  height: 2px;
  width: 4px; /* Adjust the width to make it thinner */
}

::-webkit-scrollbar-track {
  /* background: transparent; */
  background: var(--shrond-color-1);
}

::-webkit-scrollbar-thumb {
  background-color: var(--shrond-color-3); /* Color of the thumb */
  border-radius: 3px; /* Rounded corners for the thumb */
}

/* For Firefox */
/* Note: Firefox does not support changing the color of the scrollbar thumb */

/* For Mozilla Firefox */
@-moz-document url-prefix() {
  scrollbar-color: transparent transparent; /* Color of the track and thumb */
  scrollbar-width: thin; /* Adjust the width to make it thinner */
}

/* For Internet Explorer and Edge */
/* Note: IE and old Edge versions use a different syntax */
/* Note: Microsoft Edge (Chromium-based) supports the WebKit syntax mentioned earlier */

/* Internet Explorer 10+ */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  /* Note: IE only supports changing the color of the scrollbar track */
  scrollbar-face-color: transparent; /* Color of the track */
}

/* Old Microsoft Edge (EdgeHTML) */
@supports (-ms-overflow-style: -ms-autohiding-scrollbar) {
  /* Note: Old Edge only supports changing the color of the scrollbar track */
  scrollbar-face-color: transparent; /* Color of the track */
}
