nav {
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  user-select: none;
  position: fixed;
  width: 100%;
  z-index: 888;
  background: var(--shrond-color-1);
}

nav .logo {
  margin-left: 50px;
  width: 220px;
}

nav ul {
  flex: 1;
  text-align: right;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  font-size: 18px;
}

span#toggleDarkLight {
  margin: 0 50px 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: var(--shrond-color-2);
  box-shadow: var(--box-shadow);
  border: 2px solid var(--shrond-color-4);
  transition: var(--transition);
  opacity: 70%;
}

span#toggleDarkLight:hover {
  border-color: var(--shrond-color-5);
  opacity: 100%;
}

.div {
  min-width: 100%;
  min-height: 87vh;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  /* border: 4px solid white; */
  justify-content: space-between;
}

.welcome {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  padding-left: 4vw;
}

.welcome h1 span {
  color: var(--shrond-color-4);
  font-size: 40px;
}

.welcome .logo {
  font-size: 120px;
}

.embed {
  max-height: 80vh;
  overflow-y: scroll;
  border-top: 4px solid var(--shrond-color-2);
  border-bottom: 4px solid var(--shrond-color-2);
  border-radius: 4px;
  padding-right: 10px;
}

#services {
  justify-content: space-around;
}
